.contact-form {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  width: 80%;
  margin: 0 auto;
  background: #f9f9f9;
  padding: 20px;
}

.contact-info, .form-container {
  flex: 1;
  margin: 10px;
}

/* Rest of your styles */


.contact-form h1 {
  text-align: center;
  color: #006880;
  margin-bottom: 20px;
}

.contact-form p {
  font-size: 1.1em;
  color: #888;
  line-height: 1.6em;
}



.field-label {
  display: block;
  margin-bottom: 10px;
  color: #333;
}

.field-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 0.9em;
  color: #333;
}

#submit-button-contact {
  display: block;
  width: 20%;
  padding: 10px;
  border: none;
  color: white;
  background-color: #006880;
  text-transform: uppercase;
  cursor: pointer;
  transition: background 0.3s ease;
}

#submit-button-contact:hover {
  background-color: #024655;
}

@media screen and (max-width: 960px) {
  .contact-form {
    width: 100%;
    flex-direction: column;
  }

  .contact-info, .form-container {
    margin: 10px 0;
  }
}
