// about page css
.about-page {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);

  .about-title {
    text-align: center;
    color: #006880;
    margin-bottom: 20px;
  }

  .about-content {
    font-size: 1.1em;
    color: #888;
    line-height: 1.6em;
    text-align: justify;
  }
}

// policy page css
.policy-page {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);

  .policy-title {
    text-align: center;
    color: #006880;
    margin-bottom: 20px;
  }

  .policy-content {
    font-size: 1.1em;
    color: #888;
    line-height: 1.6em;
    text-align: justify;
  }
}

// terms page css
.terms-page {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);

  .terms-title {
    text-align: center;
    color: #006880;
    margin-bottom: 20px;
  }

  .terms-content {
    font-size: 1.1em;
    color: #888;
    line-height: 1.6em;
    text-align: justify;
  }
}

// main homepage css


header {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
}

header a {
  color: white;
  text-decoration: none;
  margin-right: 10px;
}

main {
  flex-direction: column;
  align-items: center;
}

// css for hero section
.hero {
  background-image: url('home1.jpg');
  background-color: #ccc;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  padding: 20px;
  text-align: center;
  width: 100%;
  height: 800px;
}

body {
  font-family: Arial, sans-serif;
}

.banner {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: white;
  text-align: center;
  text-shadow: 2px 2px 8px rgba(77,96,100,0.8);
    font-weight: 700;
    letter-spacing: 2px;
  margin: 240px 85px 0;
    margin-top: 240px;
    margin-right: 85px;
    margin-bottom: 0px;
    margin-left: 85px;
}

.content {
  position: relative;
  background-color: rgba(128, 128, 128, 0.5);
  color: white;
  padding: 20px;
  text-align: center;
  border-radius: 7px;
}

.banner h1 {
  align-items: center;
  font-size: 4.5em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.banner p {
  font-family: 'open-sans','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-bottom: 1em;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
}

.button {
  display: inline-block;
  background-color: #ff6347;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  margin-top: 30px;
}
// end of css for hero section

// css for section1
.section1 {
  background-color: white;
  padding: 20px;
  text-align: center;
  width: 100%;
  height: 700px;
}

.banner2 {
  text-align: center;
  padding: 20px;
}

.banner2 h1 {
  color: black;
  margin-bottom: 20px;
  align-items: center;
  font-size: 3.5em;
  margin-bottom: 0.5em;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card, .card2 {
  width: 300px;
  margin: 20px;
  text-align: center;

}

.card img, .card2 img {
  width: 100%;
  height: auto;
}

.card h2, .card2 h2 {
  font-size: 1.5em;
  color: black;
  margin-top: 10px;
  text-transform: uppercase;
}

.card-text {
  font-size: 1em;
  color: gray;
}

.learn-more {
  display: inline-block;
  border: 1px solid black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  transition: background-color 0.6s ease;
}

.learn-more:hover {
  background-color: black;
  color: white;
}

// animation for section1
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes swingInFromTop {
  0% {
    transform: rotateX(-100deg);
    transform-origin: top;
    opacity: 0;
  }
  100% {
    transform: rotateX(0deg);
    transform-origin: top;
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.card-container div:nth-child(1) .card.animate, .card-container div:nth-child(1) .card2.animate {
  animation: slideInFromLeft 1s forwards;
}

.card-container div:nth-child(2) .card.animate, .card-container div:nth-child(2) .card2.animate {
  animation: swingInFromTop 1s forwards;
}

.card-container div:nth-child(n+3) .card.animate, .card-container div:nth-child(n+3) .card2.animate {
  animation: slideInFromRight 1s forwards;
}

// end of css for section1


.section2 {
  background-color: #8cbcc6;
  padding: 20px;
  text-align: center;
  width: 100%;
  height: 800px;
}

.section3 {
  background-color: white;
  padding: 20px;
  text-align: center;
  width: 100%;
  height: 800px;
}

.section4 {
  background-color: #ddd;
  padding: 20px;
  text-align: center;
  width: 100%;
  height: 600px;
}

.section5 {
  background-color: white;
  padding: 20px;
  text-align: center;
  width: 100%;
  height: 800px;
}

.section6 {
  background-color: #8cbcc6;
  padding: 20px;
  text-align: center;
  width: 100%;
  height: 800px;
}

.section7 {
  background-color: white;
  padding: 20px;
  text-align: center;
  width: 100%;
  height: 400px;
}


/* CSS for Mobile Phones */
@media (max-width: 960px) {
  .hero {
    height: 600px;
    align-items: center;
  }

  .banner {
    margin: 20px 30px 0;
  }

  .content {
    padding: 10px;
    text-shadow: 2px 2px 8px rgba(77,96,100,0.8);
    font-weight: 700;
    letter-spacing: 2px;
    margin-top: 150px;
    margin-bottom: 0px;

  }

  .banner h1 {
    font-size: 1.5em;
  }

  .banner p {
    font-size: 0.7em;
  }
}
