// about page css
.about-page {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);

  .about-title {
    text-align: center;
    color: #006880;
    margin-bottom: 20px;
  }

  .about-content {
    font-size: 1.1em;
    color: #888;
    line-height: 1.6em;
    text-align: justify;
  }
}

// policy page css
.policy-page {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);

  .policy-title {
    text-align: center;
    color: #006880;
    margin-bottom: 20px;
  }

  .policy-content {
    font-size: 1.1em;
    color: #888;
    line-height: 1.6em;
    text-align: justify;
  }
}

// terms page css
.terms-page {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);

  .terms-title {
    text-align: center;
    color: #006880;
    margin-bottom: 20px;
  }

  .terms-content {
    font-size: 1.1em;
    color: #888;
    line-height: 1.6em;
    text-align: justify;
  }
}
