// profile section css starts here
.profile-container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #f4f4f4;
  height: 600px;
}

.avatar-section {
  width: 200px;
  text-align: center;
  padding: 70px;
  margin-left: 10%;
}

.profile-avatar-2 {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
}

.no-avatar {
  color: #888;
  font-size: 1em;
}

.info-section {
  width: 1000px;
  padding: 70px;
  margin-right: 19%;
}

.user-name {
  font-family: 'Arial', sans-serif;
  font-size: 2em;
}

.user-title {
  font-family: 'Verdana', sans-serif;
  font-size: 1.5em;
}

.user-email {
  font-family: 'Courier New', monospace;
  font-size: 1.2em;
}

.user-gender {
  font-family: 'Verdana', sans-serif;
  font-size: 1.2em;
}

.user-bio {
  font-family: 'Verdana', sans-serif;
  font-size: 1.2em;
}

// profile section css ends here

// posts section css starts here
.posts-profile-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.posts-container-profile {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 10px;
  width: 1450px;
  margin: auto;
}

.post-row {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
}

.post-column {
  flex: 1;
}

.post-column h2 a {
  font-size: 0.7em;
  text-align: left;
  margin-left: 0.9px;
  padding: 20px 0;
  margin-top: 20px;
  color: black;
}

.post-image-profile {
  width: 100%;
  height: 40%;
  object-fit: cover;
}

.post-column p {
  margin-top: 10px;
}
// posts section css ends here

// profile section css starts here
// media queries for laptops starts
@media screen and (min-width: 1200px) and (max-width: 1600px) {
  .info-section {
    width: 200%; /* Adjust according to your layout */
    padding: 70px;
    margin-right: 1%;
  }

  .profile-avatar-2 {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
  }

  .avatar-section {
    width: 25%; /* Adjust according to your layout */
    text-align: center;
    padding: 70px;
    margin-left: 2%;
  }
}

// media queries for laptops ends

// media queries for mobiles starts
@media only screen and (max-width: 767px) {
  .profile-container {
    flex-direction: column;
    height: auto;
  }
  .avatar-section, .info-section {
    width: 100%;
    padding: 20px;
    margin: 0;
    text-align: center;
  }

  .profile-avatar-2 {
    width: 150px;
    height: 150px
  }

  .user-name {
    font-size: 1.5em;
  }

  .user-title, .user-email, .user-gender, .user-bio {
    font-size: 1em;
  }
}

// media queries for mobiles ends

// media queries for tablets starts
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .profile-container {
    flex-direction: column;
    height: auto;
  }

  .avatar-section, .info-section {
    width: 100%;
    padding: 30px;
    margin: 0;
  }

  .profile-avatar-2 {
    width: 200px;
    height: 200px;
  }

  .user-name {
    font-size: 1.8em;
  }

  .user-title, .user-email, .user-gender, .user-bio {
    font-size: 1.2em;
  }
}
// media queries for tablets ends

// profile section css ends here

// post profile section css starts here
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .posts-container-profile {
    grid-template-columns: 1fr;
    width: 100%;
  }
  .post-row {
    flex-direction: column;
  }
  .post-image-profile {
    height: 60%;
  }
}

/* Small devices (portrait tablets and large phones, 600px to 900px) */
@media only screen and (min-width: 601px) and (max-width: 900px) {
  .posts-container-profile {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }
}

/* Medium devices (landscape tablets, 901px and up) */
@media only screen and (min-width: 901px) and (max-width: 1200px) {
  .posts-container-profile {
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
  }
}

/* Large devices (laptops/desktops, 1201px and up) */
@media only screen and (min-width: 1200px) {
  .posts-container-profile {
    grid-template-columns: repeat(4, 1fr);
    width: 90%;
  }
}
