<h1>Users</h1>

<ul>
  <% @users.each do |user| %>
    <li>
      First Name: <%= user.first_name %> <br/>
      Last Name: <%= user.last_name %> <br/>
      Email: <%= user.email %> <br/>
      Gender: <%= user.gender %>
    </li>
  <% end %>
</ul>
