<h1>Editing post</h1>

<%= render "form", post: @post %>

<br>
<div class= "post-form">
  <div class="button-group">
    <%= link_to "Show this post", @post, class: "btn btn-primary" %> |
    <%= link_to "Back to posts", posts_path, class: "btn btn-secondary" %>
  </div>
</div>
