body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  background-color: #123558;
  color: white;
  padding: 20px 0;
  margin-top: auto;
}

footer h5 {
  margin-bottom: 20px;
}

footer ul {
  list-style-type: none;
  padding: 0;
}

footer ul li {
  line-height: 2;
}

footer ul li a {
  color: #6c757d;
  text-decoration: none;
}

footer .social ul li {
  display: inline-block;
  margin-right: 10px;
}

footer .social ul li:last-child {
  margin-right: 0;
}

footer .social ul li a {
  display: block;
  width: 24px;
  height: 24px;
  background-size: cover;
}

footer .social ul li a.facebook {
  background-image: url(asset_path('facebook.png'));
}

footer .social ul li a.twitter {
  background-image: url(asset_path('twitter.png'));
}

footer .social ul li a.linkedin {
  background-image: url(asset_path('linkedin.png'));
}
